.col-md-6.col-md-offset-3.panel.panel-default
  .panel-body
    %h2 Create a Landing Page
    = form_for @landing_page do |f|
      = form_group_for f, :url do
        .input-group
          = f.text_field :url
      = f.submit 'Create account', class: 'btn btn-primary'