.col-md-12
  .jumbotron
    %h1 Epic Landing Pages
    %p
      Create Epic Landing Pages really easily without all the hassle. Just drop in the HTML and start collecting those emails!
    %p
      = link_to 'Create account', new_landing_page_path, class: 'btn btn-primary btn-lg'